// Set a reasonable base value for REM unit
html {
	font-size: 12px;

	@include media-sm {
		font-size: 16px;
	}
}

body {
	padding-top: $page-padding-top;
	font-variant-ligatures: common-ligatures;

	@include media-sm {
		font-size: $font-size-base-lg;
	}
}

hr {
	margin: 2rem 0;
	background: transparent;
	border-bottom: 3px double scale-color($color-s, $lightness: 60%);
}

main {
	// FIXME: refactor this mess. is this really necessary?
	> section:first-of-type,
	> article:first-of-type {
		h2:first-of-type {
			margin-top: .5rem;
		}

		> header + h3,
		> header + h4 {
			margin-top: .5rem;
		}
	}
}