.post-list {
	$box-width: 48px;
	$box-margin: 16px;
	$gradient-width: 32px;

	> article {
		position: relative;
		overflow-x: hidden;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 2px solid $color-b-light;

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			display: block;
			width: $gradient-width;
			height: 100%;
			z-index: 100;
			background: url(../images/fadout.png) repeat-y top right;
		}

		&:last-of-type {
			border-bottom: none;
		}

		> .slider {
			display: flex;
			width: calc(100% + #{$box-width} + #{$box-margin} - #{2/3 * $gradient-width});
			transition: all .3s ease-in-out;
			transform: translateX(-$box-width - $box-margin);

			&:hover {
				transform: translateX(0);

				.box {
					opacity: 1;
				}
			}
		}

		.box {
			flex: 0 0 $box-width;
			transition: opacity .3s ease-in-out;
			opacity: 0;
			margin-right: $box-margin;
			padding-top: .25rem;
			color: $color-t;
			font-weight: 900;
			font-size: $font-size-small;
			border-right: 3px double $color-b-light;
			border-top: none;
			border-bottom: none;

			.reading-time, .reading-time-label {
				line-height: 1;
				display: block;
			}

			.reading-time {
				font-size: round(2.5 * $font-size-base);
				font-variant-numeric: lining-nums;
				//font-variant-numeric: lining-nums;
			}

			.reading-time-label {
				font-size: round(.7 * $font-size-base);
				text-transform: uppercase;
			}
		}

		.post-meta {
			color: $text-color;
			//font-weight: 700;
			//font-variant-numeric: tabular-nums;
		}

		header {
			width: 100%;

			h3 {
				margin: 1rem 0 0 ;
				font-weight: 600;
				font-style: italic;

				a, a:focus, a:hover {
					border-bottom: none;
				}
			}
		}
	}
}

.post {
	h2 {
		font-style: italic;

		&:before,
		&:after {
			content: '';
		}
	}

	h3 {
		$padding-v: .5rem;
		$padding-h: 1.25rem;
		@include clearfix;
		font-style: italic;
		font-weight: 600;
		width: calc(100% - 2 * #{$padding-h});

		> span {
			display: inline;
			//color: $text-color;
			//color: $color-s;
			//background: darken($body-bg, 4%);
			background: $color-s;
			color: #fff;
			padding: $padding-v $padding-h;
			box-decoration-break: clone;
			line-height: 1.6;
		}
	}
}