
#footer {
	margin: 3rem 0;
	padding-top: 1.5rem;
	border-top: 4px solid $color-b;
	font-family: $font-family-sans-serif;
	//font-weight: 600;

	.contact {
		margin-bottom: 2rem;

		a {
			transition: color 0.3s, transform 1s;
			will-change: color, transform;
			color: $color-t;

			&:hover,
			&:focus {
				color: $link-color;
			}
		}

		.icon-mail {
			@include include-icon($fa-var-paper-plane-o);
		}

		.icon-github {
			@include include-icon($fa-var-github);
		}

		.icon-git {
			@include include-icon($fa-var-code-fork);
		}

		.icon-xing {
			@include include-icon($fa-var-xing);
		}

		.icon-instagram {
			@include include-icon($fa-var-instagram);
		}

		// the order of rules *does* matter here!
		// (above mixin sets e.g. the font-size)
		> .icon {
			margin-right: 2rem;
			font-size: 3rem;
			text-align: center;

			&:hover,
			&:focus {
				border-bottom: none;
			}
		}
	}

	.footer-note {
		margin-bottom: 1.5rem;
		font-size: $font-size-small-relative;

		.sep {
			display: inline-block;
			position: relative;
			top: .28rem;
			margin: 0 .6em;
		}

		// TODO: add pulse CSS animation
		.heart {
			position: relative;
			top: .06em;
			margin-left: .1em;
			border-bottom: none;
			color: hsl(350, 65%, 46%);
			font-weight: bold; // reset by fa to 'normal'
		}
	}
}
