body {
    padding-top: $page-padding-top;
}

#title {
	margin: 0 0 2.5rem;

	.subtitle {
		margin: 0;
		font-size: 0.38 * $font-size-h1;
		font-weight: 600;
		font-family: $font-family-sans-serif;
		color: $color-s;
		cursor: default;

		.asterisk {
			position: relative;
			top: .32rem;
		}

		@include media-max(360px) {
			font-size: 0.3 * $font-size-h1;
		}
	}
}

main {
	hyphens: auto;

	p {
		hyphens: auto;
	}

    > section:first-of-type,
    > article:first-of-type {
        h2:first-of-type {
            margin-top: .5rem;
        }

	    > header + h3,
	    > header + h4 {
		    margin-top: .5rem;
	    }
    }

	.list-heading {
		display: block;
		margin: 1rem 0 .5rem 0;
	}

	hr {
		background: transparent;
		border-bottom: 3px double scale-color($color-s, $lightness: 60%);
	}
}

.collapse-list {
	cursor: pointer;

	& + ul,
	& + ol {
		display: none;
	}

	.fa {
		position: relative;
		top: -.1em;
		margin-right: .4rem;
		transition: transform .3s ease-in-out;
		font-size: 80%;

		&.open {
			transform: rotate(180deg);
			transform-origin: 50%;
		}
	}
}