body {
    padding-top: $page-padding-top;

	@include media-sm {
		padding-top: $page-padding-top - .5rem;
		font-size: 21px;
	}
}

#title {
	margin: 0 0 2.5rem;
}

main {
	hyphens: auto;

	p {
		hyphens: auto;
	}

    > section:first-of-type,
    > article:first-of-type {
        h2:first-of-type {
            margin-top: .5rem;
        }

	    > header + h3,
	    > header + h4 {
		    margin-top: .5rem;
	    }
    }

	.list-heading {
		display: block;
		margin: 1rem 0 .5rem 0;
	}

	hr {
		background: transparent;
		border-bottom: 3px double scale-color($color-s, $lightness: 60%);
	}
}
