body {
	font-variant-ligatures: common-ligatures;

	@include media-sm {
		font-size: $font-size-base-lg;
	}
}

h1 {
	@include clearfix;
	display: inline-block;
	margin: 0 0 1rem 0;
	padding-bottom: 12px;
	border-bottom: .45rem solid $color-b;
	color: $color-p;
	cursor: default;
	font-weight: 700;
	line-height: 1.2;
	text-transform: lowercase;
	letter-spacing: -.015em;

	@include media-sm {
		font-size: 5.25rem;
	}

	@include media-max(360px) {
		font-size: 3.5rem;
	}
}

h2 {
	@include clearfix;
	display: inline-block;
	margin: 3rem 0 2rem;
	padding: .75rem 0;
	border: .3rem solid lighten($color-b, 4%);
	border-left: none;
	border-right: none;
	font-weight: 900;

	&:before,
	&:after {
		display: inline;
	}

	&:before {
		content: '~ ';
	}

	&:after {
		content: ' ~';
	}

	&, a {
		color: $color-t;
	}
}

h3 {
	margin: 2rem 0 1.25rem;

	&, a, a:focus, a:hover {
		color: $color-s;
	}

	a:focus, a:hover {
		border-bottom: 2px solid;
	}
}

h4 {
	margin: 1.75rem 0 1rem;

	&, a, a:focus, a:hover {
		color: scale-color($color-p, $lightness: -12%);
	}
}

h5 {
	margin: 1.5rem 0 1rem;
	font-weight: 600;
	color: $color-t;
}

h1, h2, h3, h4, h5 {
	font-feature-settings: "lnum";
}

h2 + h3 {
	margin-top: 0;
}

a {
	&, &:focus, &:hover {
		color: $link-color;
	}

}

main {
	p {
		margin: 0 0 1rem;
		hyphens: auto;
		hyphenate-limit-chars: 3;
	}

	ul, ol {
		margin: 0 0 1.5rem;
		//font-size: $font-size-small;

		li {
			margin-bottom: .25rem;
		}
	}

	ul {
		list-style-type: none;

		li:before {
			position: relative;
			top: .18em;
			margin-left: -1em;
			margin-right: .5em;
			content: '*';
			font-weight: 600;
			color: darken($color-s, 12%);
		}
	}
}

main, #footer {
	a {
		border-bottom: solid 1px transparent;

		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid;
		}

		> i {
			margin-right: 4px;
		}
	}
}

blockquote {
	margin: 2.5rem 0;
	padding: 0 0 0 2rem;
	border-left: none;
	font-weight: 400;
	color: $color-t;
	line-height: 1.25;
	font-style: italic;

	a {
		&, &:focus,	&:hover {
			color: inherit;
		}
	}

	.author {
		display: block;
		margin-top: .875rem;
		border-bottom: none !important;
		font-size: $font-size-small;
		font-style: normal;
		font-weight: 600;

		&:before {
			content: '― ';
		}

		@include media-sm {
			font-size: round($font-size-base-lg * 0.95);
		}
	}
}

small, .small {
	font-size: $font-size-small-relative;
}

a, .btn, .tag {
	transition: color 0.3s, background 0.3s, border 0.3s;
	will-change: color, background, border;
}

.btn, .text-btn {
	color: $color-t;
}

.btn {
	padding: .375rem .75rem;
	background: $color-s;
	border: none;
	border-radius: 2px;
	font-weight: 600;

	&.btn-default {
		border: none;
		background: $color-p;
	}

	&.btn-default:hover {
		background: darken($color-p, 8%);
	}
}

.crypted-mail {
	cursor: pointer;

	&:after {
		content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
	}
}

.footnote {
	font-weight: 600;
}

