.template-frontpage {
    padding: 4rem 0;
    background: $color-p;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;

    *, #subtitle {
        color: #fff;
    }

    #title {
        margin-bottom: 3rem;
    }

    p, ul, ol {
        margin-bottom: 2.5rem;
    }

    h2 {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    a {
        &,
        &:active,
        &:focus,
        &:hover {
            color: #fff;
            border-width: .18rem;
        }

        &:hover {
            border-color: $color-b;
        }
    }

    h1 {
        border-color: $color-b-light;
    }

    li {
        margin-bottom: 1rem;

        &:before {
            color: $color-b-light;
        }

        a {
            padding-bottom: 4px;
        }
    }

    .posts {
        .date {
            font-size: 90%;
        }
    }
}
