.template-frontpage {
    padding: 3rem 0;
    font-size: 1.6rem;
    font-weight: 400;

    #title {
        margin-bottom: 3rem;
    }

    #typed-border {
        width: 0;
        height: 0.44rem;
        margin-top: .6rem;
        background: #b2ced7;
        transition: width 2s linear;
    }

    .typed-cursor {
        transition: opacity .7s ease;
    }

    p,
    ul,
    ol {
        margin-bottom: 2.5rem;
    }

    h1 {
        padding: 0;
        border: none;
    }

    h2 {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    a {
        &,
        &:active,
        &:focus,
        &:hover {
            border-width: .18rem;
        }

        &:hover {
            border-color: $color-b;
        }
    }

    li {
        margin-bottom: 1rem;

        a {
            padding-bottom: 4px;
        }
    }

    .posts {
        .date {
            font-size: 90%;
        }
    }
}
