.template-frontpage {
    padding: 3rem 0;
    font-size: 1.6rem;
    font-weight: 400;

    #title {
        margin-bottom: 3rem;
    }

    p, ul, ol {
        margin-bottom: 2.5rem;
    }

    h2 {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    a {
        &,
        &:active,
        &:focus,
        &:hover {
            border-width: .18rem;
        }

        &:hover {
            border-color: $color-b;
        }
    }

    h1 {
        border-color: $color-b-light;
    }

    li {
        margin-bottom: 1rem;

        a {
            padding-bottom: 4px;
        }
    }

    .posts {
        .date {
            font-size: 90%;
        }
    }
}
