.template-frontpage {
	padding-bottom: $page-padding-top;
    background: $color-p;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;

	*, #subtitle {
		color: #fff;
	}

	#title {
		margin-bottom: 3rem;
	}

    p, ul, ol {
        margin-bottom: 2.5rem;
    }

	h2 {
		margin-top: .5rem;
	}

    a {
        border-width: .12rem;

        &,
        &:active,
        &:focus,
        &:hover {
            color: #fff;
            border-width: .12rem;
        }

	    &:hover {
		    border-color: $color-b;
	    }
    }

    a:hover {
        color: #fff;
    }

    h1 {
        border-color: $color-b-light;
    }

    li {
	    margin-bottom: 1rem;
        font-size: 2.25rem * .8;

        &:before {
            color: $color-b-light;
        }

        a {
            padding-bottom: 4px;
        }
    }

	.posts {
		.date {
			font-size: 90%;
		}
	}
}