// Tomorrow Night
//$base00: #1d1f21;
//$base01: #282a2e;
//$base02: #373b41;
//$base03: #969896;
//$base04: #b4b7b4;
//$base05: #c5c8c6;
//$base06: #e0e0e0;
//$base07: #ffffff;
//$base08: #cc6666;
//$base09: #de935f;
//$base0A: #f0c674;
//$base0B: #b5bd68;
//$base0C: #8abeb7;
//$base0D: #81a2be;
//$base0E: #b294bb;
//$base0F: #a3685a;

// Ashes
$base00: #1C2023;
$base01: #393F45;
$base02: #565E65;
$base03: #747C84;
$base04: #ADB3BA;
$base05: #C7CCD1;
$base06: #DFE2E5;
$base07: #F3F4F5;
$base08: #C7AE95;
$base09: #C7C795;
$base0A: #AEC795;
$base0B: #95C7AE;
$base0C: #95AEC7;
$base0D: #AE95C7;
$base0E: #C795AE;
$base0F: #C79595;

// Ocean
//$base00: #2b303b;
//$base01: #343d46;
//$base02: #4f5b66;
//$base03: #65737e;
//$base04: #a7adba;
//$base05: #c0c5ce;
//$base06: #dfe1e8;
//$base07: #eff1f5;
//$base08: #bf616a;
//$base09: #d08770;
//$base0A: #ebcb8b;
//$base0B: #a3be8c;
//$base0C: #96b5b4;
//$base0D: #8fa1b3;
//$base0E: #b48ead;
//$base0F: #ab7967;

// Ocean Next
//$base00: #1B2B34;
//$base01: #343D46;
//$base02: #4F5B66;
//$base03: #65737E;
//$base04: #A7ADBA;
//$base05: #C0C5CE;
//$base06: #CDD3DE;
//$base07: #D8DEE9;
//$base08: #EC5f67;
//$base09: #F99157;
//$base0A: #FAC863;
//$base0B: #99C794;
//$base0C: #5FB3B3;
//$base0D: #6699CC;
//$base0E: #C594C5;
//$base0F: #AB796;

// Github
//$base00: #ffffff;
//$base01: #f5f5f5;
//$base02: #c8c8fa;
//$base03: #969896;
//$base04: #e8e8e8;
//$base05: #333333;
//$base06: #ffffff;
//$base07: transparent; // #ffffff
//$base08: #ed6a43;
//$base09: #0086b3;
//$base0A: #795da3;
//$base0B: #183691;
//$base0C: #183691;
//$base0D: #795da3;
//$base0E: #a71d5d;
//$base0F: #333333;

// Rouge / Pygments theme based on Base16 (https://github.com/chriskempson/base16)
.highlight {
	margin: 1.5rem 0;
	border-radius: 3px;
	background: $base00; color: $base05;    // dark
	//background: $base07; color: $base02;  // light

	pre {
		background: transparent;
		color: $base06;
		//padding: 0;
	}

	.lineno {
		//margin-right: 1rem;
		//padding-right: .5rem;
		color: $base03;
		//border-right: 1px solid lighten($base03, 24%);
	}

	.hll { background-color: $base02 }
	.c   { color: $base03 } /* Comment */
	.err { color: $base08 } /* Error */
	.k   { color: $base0E } /* Keyword */
	.l   { color: $base09 } /* Literal */
	.n   { color: $base08 } /* Name */
	.o   { color: $base0C } /* Operator */
	.p   { color: $base05 } /* Punctuation */
	.cm  { color: $base03 } /* Comment.Multiline */
	.cp  { color: $base03 } /* Comment.Preproc */
	.c1  { color: $base03 } /* Comment.Single */
	.cs  { color: $base03 } /* Comment.Special */
	.gd  { color: $base08 } /* Generic.Deleted */
	.ge  { font-style: italic } /* Generic.Emph */
	.gh  { color: $base07; font-weight: bold } /* Generic.Heading */
	.gi  { color: $base0B } /* Generic.Inserted */
	.gp  { color: $base03; font-weight: bold } /* Generic.Prompt */
	.gs  { font-weight: bold } /* Generic.Strong */
	.gu  { color: $base0C; font-weight: bold } /* Generic.Subheading */
	.kc  { color: $base0E } /* Keyword.Constant */
	.kd  { color: $base0E } /* Keyword.Declaration */
	.kn  { color: $base0C } /* Keyword.Namespace */
	.kp  { color: $base0E } /* Keyword.Pseudo */
	.kr  { color: $base0E } /* Keyword.Reserved */
	.kt  { color: $base0A } /* Keyword.Type */
	.ld  { color: $base0B } /* Literal.Date */
	.m   { color: $base09 } /* Literal.Number */
	.s   { color: $base0B } /* Literal.String */
	.na  { color: $base0D } /* Name.Attribute */
	.nb  { color: $base0E } /* Name.Builtin */
	.nc  { color: $base0A } /* Name.Class */
	.no  { color: $base0A } /* Name.Constant */
	.nd  { color: $base0C } /* Name.Decorator */
	.ni  { color: $base07 } /* Name.Entity */
	.ne  { color: $base08 } /* Name.Exception */
	.nf  { color: $base0D } /* Name.Function */
	.nl  { color: $base07 } /* Name.Label */
	.nn  { color: $base0A } /* Name.Namespace */
	.nx  { color: $base0D } /* Name.Other */
	.py  { color: $base07 } /* Name.Property */
	.nt  { color: $base0C } /* Name.Tag */
	.nv  { color: $base08 } /* Name.Variable */
	.ow  { color: $base0C } /* Operator.Word */
	.w   { color: $base07 } /* Text.Whitespace */
	.mf  { color: $base09 } /* Literal.Number.Float */
	.mh  { color: $base09 } /* Literal.Number.Hex */
	.mi  { color: $base09 } /* Literal.Number.Integer */
	.mo  { color: $base09 } /* Literal.Number.Oct */
	.sb  { color: $base0B } /* Literal.String.Backtick */
	.sc  { color: $base07 } /* Literal.String.Char */
	.sd  { color: $base03 } /* Literal.String.Doc */
	.s2  { color: $base0B } /* Literal.String.Double */
	.se  { color: $base09 } /* Literal.String.Escape */
	.sh  { color: $base0B } /* Literal.String.Heredoc */
	.si  { color: $base0F } /* Literal.String.Interpol */
	.sx  { color: $base0B } /* Literal.String.Other */
	.sr  { color: $base0C } /* Literal.String.Regex */
	.s1  { color: $base0B } /* Literal.String.Single */
	.ss  { color: $base0B } /* Literal.String.Symbol */
	.bp  { color: $base07 } /* Name.Builtin.Pseudo */
	.vc  { color: $base08 } /* Name.Variable.Class */
	.vg  { color: $base08 } /* Name.Variable.Global */
	.vi  { color: $base08 } /* Name.Variable.Instance */
	.il  { color: $base09 } /* Literal.Number.Integer.Long */
}