#nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: fade_out($color-s, 0.08);
	padding: 1rem 0;
	font-weight: 700;
	z-index: $zindex-navbar-fixed;

	@include media-sm {
		padding: 1.25rem 0;
	}

	.nav {
		padding: 0 $grid-gutter-width / 2;

		> li {
			float: left;
			margin-right: 2.5rem;

			&:first-of-type a {
				padding-left: 0;
			}
		}
	}

	a {
		padding: 2px 0;
		color: change_color($color-s, $saturation: 20%, $lightness: 72%);
		font-size: 1.3rem;
		font-weight: 600;
		border-bottom-width: .15rem;

		&:hover,
		&.active {
			border-bottom-color: change_color($color-s, $lightness: 92%);
		}

		&.active {
			color: change_color($color-s, $lightness: 92%);
		}
	}


	@include media-sm {
		background: fade_out($body-bg, 0.1);
		padding: 1.5rem 0;

		a {
			color: change_color($color-t, $lightness: 54%, $saturation: 20%);

			&:hover {
				border-color: change_color($color-t, $lightness: 72%, $saturation: 20%);
			}

			&.active {
				cursor: default;
				color: $color-t;
				border-bottom-color: $color-t;
			}
		}
	}
}
