
#footer {
	margin: 6rem 0;
	padding-top: 3rem;
	border-top: 3px solid scale-color($color-s, $lightness: 50%);
	font-size: $font-size-small;

	a {
		color: $color-s;
		transition: color 0.3s, transform 1s;
		will-change: color, transform;

		&:hover,
		&:focus {
			color: $color-p;
		}
	}

	//.nav > li {
	//	margin-right: 3rem;
	//}

	.contact {
		margin-bottom: 3rem;
		// @include clearfix;
		// display: inline-block;

		.icon-mail {
			@include include-icon($fa-var-paper-plane-o);
		}

		.icon-github {
			@include include-icon($fa-var-github);
		}

		.icon-gitlab {
			@include include-icon($fa-var-gitlab);
		}

		.icon-xing {
			@include include-icon($fa-var-xing);
		}

		.icon-instagram {
			@include include-icon($fa-var-instagram);
		}

		// the order does matter here! (above mixin sets e.g. the font-size)
		> .icon {
			margin-right: 4rem;
			font-size: 5rem;
			text-align: center;

			&:hover,
			&:focus {
				border-bottom: none;
			}
		}
	}

	.legal {
		//float: right;

		//.nav > li a {
		//	padding: 0;
		//}

		//.nav {
		//	padding-top: 1.1rem;
		//}
	}
}
