html {
    font-size: 8px; // set a reasonable base value for rem unit
}

body {
    padding-top: $page-padding-top;
}

#title {
	margin: 0 0 6rem;
}

main {

	hyphens: auto;
	-webkit-hyphens: auto;

	p {
		hyphens: auto;
	}

    > section:first-of-type {
        h2:first-of-type {
            margin-top: 1rem;
        }
    }
}
