#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: fade_out($body-bg, 0.1);
    padding: 32px 0 24px 0;
    font-weight: 700;
    z-index: $zindex-navbar-fixed;

	.nav {
		padding: 0 $grid-gutter-width / 2;
	}

    .nav > li {
        float: left;
        margin-right: 5rem;

        > a {
	        padding: 2px 0;
            color: $color-s;
            font-size: floor(($font-size-base * 1.1));
            font-weight: 600;
            border-bottom: solid 3px transparent;

            &:hover,
            &:focus {
                color: $color-t;
                border-color: darken($body-bg, 12%);
            }
        }

        &:first-of-type a {
            padding-left: 0;
        }

        &.active > a {
            &,
            &:hover,
            &:focus {
                cursor: default;
                color: $color-t;
                border-bottom: solid 3px $color-t;
            }
        }
    }
}