.project-list {
	.project {
		margin-bottom: 6rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	h3 {
		position: relative;
		color: $text-color;
	}

	.description {
		margin-bottom: 3rem;
		padding: .5rem 0 .5rem 3rem;
		border-left: 4px solid $color-b;

		:last-child {
			margin-bottom: 0;
		}
	}
}

.tags {
	@include list-unstyled;
	@include clearfix;

	margin-bottom: 2rem;
	font-weight: 600;

	> a {
		position: relative;
		float: left;
		border-bottom: none !important;

		&:after {
			position: relative;
			top: 3px;
			margin: 0 1rem;
			content: '*';
		}

		&:last-of-type:after {
			content: '';
		}
	}
}

header + .tags {
	margin-top: -1rem;
}

