.project-list {
	.project {
		padding-top: 4rem;
		margin-bottom: 4rem;

		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		& + .project {
			border-top: 3px double scale-color($color-s, $lightness: 50%);
		}
	}

	h3 {
		position: relative;
		margin-top: 0;
		color: $text-color;
	}

	.body {
		margin-bottom: 3rem;
		padding: 0.75rem 0 1rem 2.5rem;
		// border-left: 3px solid scale-color($color-b, $lightness: 40%);
		// border-left: 3px solid scale-color($color-s, $lightness: 60%);
		border-left: 3px solid $color-b;

		:last-child {
			margin-bottom: 0;
		}
	}
}

.tags {
	@include list-unstyled;
	@include clearfix;

	margin-bottom: 2rem;
	font-weight: 600;

	> a {
		position: relative;
		float: left;
		border-bottom: none !important;

		&:after {
			position: relative;
			top: 3px;
			margin: 0 1rem;
			content: '*';
		}

		&:last-of-type:after {
			content: '';
		}
	}
}

header + .tags {
	margin-top: -1rem;
}

