html {
	font-size: 8px; // set a reasonable base value for rem unit
}

body {
	padding-top: 114px;
}

h1 {
	margin: 0 0 16px 0;
	text-transform: lowercase;
	line-height: 1.2;
	color: $color-p;

	a {
		padding-bottom: 12px;
		display: inline-block;
		border-bottom: solid 6px $color-b;
		transition: border 0.3s ease;
		will-change: border;

		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
			border-color: darken($color-b, 8%);
		}
	}
}

h2 {
	font-weight: 900;
	color: $color-p;
}

h3 {
	color: $color-t;
	font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
	a {
		color: inherit;

		&:hover,
		&:focus {
			color: inherit;
		}
	}
}

main a {
	font-weight: 600;
}

blockquote {
	@include clearfix;
	margin: 32px 0;
	padding: 0;
	font-family: $font-family-serif;
	font-weight: 600;
	font-style: italic;
	font-variant-ligatures: discretionary-ligatures;
	color: $color-t;
	border-left: 0;

	a {
		&,
		&:hover,
		&:focus {
			color: inherit;
		}
	}

	.author {
		margin-top: 6px;
		display: inline-block;
		margin-left: 8px;
		font-family: $font-family-base;
		font-size: $font-size-base;
		font-weight: 600;
	}
}

nav a, main a, .btn, .tag {
	transition: color 0.3s, background 0.3s, border 0.3s;
	will-change: color, background, border;
}

.btn, .tag {
	padding: 0.75rem 1.5rem;
	background: $color-s;
	border-radius: 2px;
	font-size: $font-size-small;
	font-weight: 600;
}

.btn {
	border: none;

	&.btn-default {
		border: none;
		background: $color-p;
	}

	&.btn-default:hover {
		background: darken($color-p, 8%);
	}
}

.lead {
	margin-bottom: 56px;
	font-size: 32px;
	font-weight: 400;
	color: $color-s;
	text-transform: lowercase;

	@media (min-width: $screen-sm-min) {
		font-size: 38px;
	}
}