// Colors
$body-bg: hsl(184, 30%, 94%);
$color-p: hsl(184, 80%, 40%);       // primary
$color-s: hsl(184, 13%, 46%);       // secondary
$color-t: hsl(246, 14%, 29%);       // tertiary
$color-b: darken($body-bg, 16%);    // borders
$text-color: #2a2829;
$link-color: $color-t; // FIXME: find a good link color
$link-hover-color: $link-color;
$brand-primary: $color-p;

// Typography
$line-height-base: 1.4;

$font-family-base: 'calluna-sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'calluna', "Times New Roman", Times, serif;

$font-size-base: 24px;
$font-size-large: ceil(($font-size-base * 1.2));
$font-size-small: ceil(($font-size-base * 0.8));

$font-size-h1: 106px;
$font-size-h2: 48px;
$font-size-h3: ceil(1.4 * $font-size-base);
$font-size-h4: ceil(1.2 * $font-size-base);

$blockquote-font-size: 28px;

// Headings
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-font-family: $font-family-serif;
$headings-color: $color-s;

// Links
$link-hover-decoration: none;

// Nav
$nav-link-hover-bg: transparent;
$nav-link-padding: 2px 0;

// Layout
$grid-gutter-width: 32px;
$block: $grid-gutter-width;

$container-tablet:        800px;
$container-desktop:       $container-tablet;
$container-large-desktop: $container-desktop;

$padding-base-vertical:     8px;
$padding-base-horizontal:   16px;
