h1,
h2,
h3,
h4,
h5,
h6 {
    font-feature-settings: 'lnum';
    hyphens: none;

    a,
    a:active,
    a:focus,
    a:hover {
        color: inherit;
    }
}

h1 {
    @include clearfix;
    display: inline-block;
    margin: 0 0 1rem 0;
    padding-bottom: .6rem;
    border-bottom: .44rem solid $color-b;
    text-transform: lowercase;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.015em;

    @include media-sm {
        font-size: 5rem;
    }

    @include media-max(360px) {
        font-size: 3.5rem;
    }
}

h2 {
    @include clearfix;
    display: inline-block;
    margin: 0 0 2rem;
    padding: 0 0 .5rem;
    border-bottom: .3rem solid $color-b-light;
    font-weight: 900;
    color: $color-s;
}

h3 {
    margin: 2rem 0 1.25rem;

    a:focus, a:hover {
        border-bottom: 2px solid;
    }
}

h4 {
    margin: 1.75rem 0 1rem;
    font-weight: 600;
    color: $color-s;
}

h5 {
    margin: 1.5rem 0 1rem;
    font-weight: 600;
    color: $color-s;
}

// FIXME: this indicates bad styling choices
h2 + h3 {
    margin-top: 0;
}
