pre,
code {
	border: none;
    font-size: $code-font-size;
}

pre {
	margin: 2rem 0;
	padding: $pre-padding;
}

p code {
	margin: 0 .1rem;
	padding: .2rem .4rem;
    border-radius: 3px;

    a, a:focus, a:hover {
		border-bottom: none;
	}
}

