---
layout: default
---

<section id="about">
    <h2>Was bisher geschah…</h2>

    <!-- TODO: the anchors in collapsible-wrapper should actually be buttons... -->

    <div class="cv">
        <article>
            <header>
                Werkstudent Engineering bei <a href="https://www.spreadshirt.de" target="_blank">sprd.net AG</a>
                <span class="subtitle">
                    Abteilung <a href="https://www.teamshirts.de" target="_blank">Teamshirts</a>
                </span>
            </header>
            <div class="time-span">
                <time datetime="2014-08">10/2017</time>
                –
                <time>heute</time>
            </div>
            <div class="desc">
                <p>Branche: Social Commerce, Personal Branding</p>
                <div class="tasks collapsible-wrapper collapsible-wrapper--with-icon">
                    <button type="button" class="collapsible-toggle" title="Tätigkeitsschwerpunkte anzeigen">
                        <span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkte
                    </button>
                    <ul class="collapsible">
                        <li>React</li>
                        <li>Symfony 3</li>
                    </ul>
                </div>
            </div>
        </article>

        <article>
            <header>
                Informatikstudium (Master)
                <span class="subtitle">
					<a href="http://www.htwk-leipzig.de" target="_blank">Hochschule für Technik, Wirtschaft und Kultur Leipzig</a> (FH)
				</span>
            </header>
            <div class="time-span">
                <time datetime="2016-10">10/2016</time>
                –
                <time>heute</time>
            </div>
            <div class="desc">
                <ul>
                    <li>Schwerpunkte: Prinzipien von Programmiersprachen, Algorithm Engineering, Projektmanagement</li>
                    <li>April bis November 2017: Mitarbeit im Team <em><a href="http://smart-driving.htwk-leipzig.de">Smart
                        Driving</a></em> der HTWK für den <a href="https://www.audi-autonomous-driving-cup.com"
                                                             target="_blank">Audi Autonomous Driving Cup 2017</a> (C++)
                    </li>
                </ul>
            </div>
        </article>

        <article>
            <header>
                Webentwickler bei <a href="http://www.ercasdieagentur.de/willkommen.htm" target="_blank">ercas GmbH
                &amp; Co KG</a>
            </header>
            <div class="time-span">
                <time datetime="2014-08">08/2014</time>
                –
                <time datetime="2016-09">09/2016</time>
            </div>
            <div class="desc">
                <p>Branche: Werbung, Webentwicklung, Grafik, Kommunikation</p>
                <div class="tasks collapsible-wrapper collapsible-wrapper--with-icon">
                    <button type="button" class="collapsible-toggle" title="Tätigkeitsschwerpunkte anzeigen">
                        <span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkte
                    </button>
                    <div class="collapsible">
                        <ul>
                            <li>JavaScript (AngularJS, Plain JS, jQuery)</li>
                            <li>Frontend (HTML, CSS / Less / SCSS, Bootstrap)</li>
                            <li>PHP (Silex, Slim, Twig)</li>
                            <li>RESTful Services</li>
                            <li><s>TYPO3 (CMS-Integration, Extbase-Extensions, Fluid)</s> <sup class="footnote">1</sup>
                            </li>
                            <li>WordPress (Plugins / Themes)</li>
                            <li>Build-Automatisierung (Grunt, Gulp, NPM, Bower etc.)</li>
                            <li>Shell- und Python-Scripts</li>
                            <li>Administration von Webservern (Ubuntu)</li>
                        </ul>

                        <ul class="footnotes">
                            <li><sup class="footnote">1</sup> ich verzichte zukünftig dankend.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <header>
                Informatikstudium (Bachelor) <span class="note">(Note 2,3)</span>
                <span class="subtitle"><a href="https://www.thi.de" target="_blank">Technische Hochschule Ingolstadt</a></span>
            </header>
            <div class="time-span">
                <time datetime="2011-05">05/2011</time>
                –
                <time datetime="2014-09">09/2014</time>
            </div>
            <div class="desc">
                <ul>
                    <li>Schwerpunkte: C, Java, Algorithmen und Datenstrukturen, Software-Engineering, Webtechnologien,
                        IT-Sicherheit, Computergrafik
                    </li>
                    <li>Projektarbeit im Team (Scrum): „<em>Konzeption und Programmierung einer
                        Online-Wirtschaftssimulation</em>“ (Lua, C++, Java)
                    </li>
                    <li>Bachelorarbeit: <a href="{{ "/assets/files/Darstellung_interaktiver_3D-Grafik_im_Webbrowser.pdf"
                        | relative_url }}" target="_blank"><em>„Darstellung interaktiver 3D-Grafik im
                            Webbrowser“</em></a> (Note 1,0)
                    </li>
                </ul>
            </div>
        </article>

        <article>
            <header>
                Praktikant Webentwicklung bei <a href="http://www.ercasdieagentur.de/willkommen.htm" target="_blank">ercas
                GmbH &amp; Co KG</a>
            </header>
            <div class="time-span">
                <time datetime="2014-08">09/2013</time>
                –
                <time datetime="2016-09">01/2014</time>
            </div>
            <div class="desc">
                <p>Branche: Werbung, Webentwicklung, Grafik, Kommunikation</p>
                <div class="tasks collapsible-wrapper collapsible-wrapper--with-icon">
                    <button type="button" class="collapsible-toggle" title="Tätigkeitsschwerpunkte anzeigen">
                        <span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkte
                    </button>
                    <div class="collapsible">
                        <ul>
                            <li>Frontend (HTML, CSS / Less)</li>
                            <li>JavaScript (jQuery)</li>
                            <li>PHP</li>
                            <li><s>TYPO3 (CMS-Integration, Extbase-Extensions, Fluid)</s> <sup class="footnote">1</sup>
                            </li>
                        </ul>

                        <ul class="footnotes">
                            <li><sup class="footnote">1</sup> ich verzichte zukünftig dankend.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <header>
                Webentwickler bei work performance, Engineering &amp; Personalservice GmbH
                <span class="subtitle">Werkstudententätigkeit</span>
            </header>
            <div class="time-span">
                <time datetime="2012-05">05/2012</time>
                –
                <time datetime="2014-07">07/2014</time>
            </div>
            <div class="desc">
                <p>Branche: Personalvermittlung, Webentwicklung</p>
                <div class="tasks collapsible-wrapper collapsible-wrapper--with-icon">
                    <button type="button" class="collapsible-toggle" title="Tätigkeitsschwerpunkte anzeigen">
                        <span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkte
                    </button>
                    <ul class="collapsible">
                        <li>Frontend (HTML, CSS / Less)</li>
                        <li>JavaScript (jQuery)</li>
                        <li>PHP</li>
                        <li>WordPress (Themes)</li>
                        <li>hybride Apps (PhoneGap)</li>
                        <li>kleinere Facebook-Anwendungen (Social Media)</li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>
