---
layout: skeleton
---

<section id="about">
	<p>Hey. Ich bin Jo. Diese Website ist meine persönliche Visitenkarte mittels derer ich mich online
		vorstellen will. Seit meiner Jugend beschäftige ich mich intensiv mit der Web- und Software-Entwicklung
		und habe immer das Ziel verfolgt meine Leidenschaft zum Beruf zu machen.</p>

	<blockquote>
		“We are what we repeatedly do. Excellence, then, is not an act, but a habit.”
		<a class="author" href="https://de.wikipedia.org/wiki/William_James_Durant" target="_blank">Will
			Durant</a>
	</blockquote>

	<h2>Werdegang</h2>

	<h3>Ausbildung</h3>

	<div class="cv">
		<article>
			<header>Informatikstudium (Master)</header>
			<div class="time-span">
				<time datetime="2016-10">10/2016</time>
				–
				<time>heute</time>
			</div>
			<div class="desc"><a href="http://www.htwk-leipzig.de" target="_blank">Hochschule für Technik,
				Wirtschaft und Kultur Leipzig (FH)</a></div>
		</article>
		<article>
			<header>Informatikstudium (Bachelor) <span class="note">(Note 2,3)</span></header>
			<div class="time-span">
				<time datetime="2011-05">05/2011</time>
				–
				<time datetime="2014-09">09/2014</time>
			</div>
			<div class="desc">
				<p>Technische Hochschule Ingolstadt (FH)</p>
				<p>Projektarbeit im Team (Scrum): „<em>Konzeption und Programmierung einer
					Online-Wirtschaftssimulation</em>“ (Lua, C++, Java).</p>
				<p>Bachelorarbeit: „<em>Darstellung interaktiver 3D-Grafik im Webbrowser</em>“ (Note 1,0)</p>
			</div>
		</article>
	</div>

	<h3>Berufserfahrung</h3>

	<div class="cv">
		<article>
			<header>Webentwickler bei ercas. die Agentur</header>
			<div class="time-span">
				<time datetime="2014-08">08/2014</time>
				–
				<time datetime="2016-09">09/2016</time>
			</div>
			<div class="desc">
				<p>Branche: Webentwicklung, Grafik, Kommunikation</p>
				<div>
					<strong class="list-heading">Tätigkeitsschwerpunkte</strong>
					<ul>
						<li>JavaScript (AngularJS, Plain JS, jQuery)</li>
						<li>Frontend (CSS / LESS / SCSS, HTML5, Bootstrap)</li>
						<li>PHP (Silex, Slim, Twig)</li>
						<li>RESTful Services</li>
						<li>WordPress (Plugins / Themes)</li>
						<li><s>TYPO3 (Extbase, Fluid)</s> <sup class="footnote">1</sup></li>
						<li>Shell- und Python-Scripting</li>
						<li>Administration von Webservern</li>
					</ul>

					<small><sup class="footnote">1</sup> nie wieder.</small>
				</div>
			</div>
		</article>
		<article>
			<header>Webentwickler bei work performance, Engineering & Personalservice GmbH</header>
			<div class="time-span">
				<time datetime="2012-05">05/2012</time>
				–
				<time datetime="2014-07">07/2014</time>
			</div>
			<div class="desc">
				<p>(Werkstudententätigkeit)</p>
				<p>Branche: Personalvermittlung, Webentwicklung</p>
				<div>
					<strong class="list-heading">Tätigkeitsschwerpunkte</strong>
					<ul>
						<li>Frontend (CSS / LESS, HTML5)</li>
						<li>JavaScript (jQuery)</li>
						<li>PHP</li>
						<li>WordPress (Themes)</li>
						<li>hybride Apps (PhoneGap)</li>
					</ul>
				</div>
			</div>
		</article>
	</div>
</section>
