---
layout: skeleton
---

<section id="about">
	<p>Hey. Ich bin Jo. Diese Website ist meine persönliche <s>Visitenkarte</s> <em>ewige Baustelle</em> mittels derer ich mich online vorstellen will. Seit meiner Jugend beschäftige ich mich intensiv mit der Web- und Software-Entwicklung und habe immer das Ziel verfolgt meine Leidenschaft zum Beruf zu machen.</p>

	<blockquote class="quote">
		“We are what we repeatedly do. Excellence, then, is not an act, but a habit.”
		<a class="author" href="https://de.wikipedia.org/wiki/William_James_Durant" target="_blank">Will
			Durant</a>
	</blockquote>

	<h2>Werdegang</h2>

	<h3>Ausbildung</h3>

	<div class="cv">
		<article>
			<header>Informatikstudium (Master)</header>
			<div class="time-span">
				<time datetime="2016-10">10/2016</time>
				–
				<time>heute</time>
			</div>
			<div class="desc">
				<p><a href="http://www.htwk-leipzig.de" target="_blank">Hochschule für Technik, Wirtschaft und Kultur Leipzig</a> (FH)</p>


				<p>Seit April 2017: Mitarbeit im Team <em><a href="http://smart-driving.htwk-leipzig.de">Smart Driving</a></em> der HTWK für den <a href="https://www.audi-autonomous-driving-cup.com" target="_blank">Audi Autonomous Driving Cup 2017</a> (C++)</p>
			</div>
		</article>
		<article>
			<header>Informatikstudium (Bachelor) <span class="note">(Note 2,3)</span></header>
			<div class="time-span">
				<time datetime="2011-05">05/2011</time>
				–
				<time datetime="2014-09">09/2014</time>
			</div>
			<div class="desc">
				<p><a href="https://www.thi.de" target="_blank">Technische Hochschule Ingolstadt</a> (FH)</p>
				<p>Projektarbeit im Team (Scrum): „<em>Konzeption und Programmierung einer
					Online-Wirtschaftssimulation</em>“ (Lua, C++, Java).</p>
				<p>Bachelorarbeit: „<em>Darstellung interaktiver 3D-Grafik im Webbrowser</em>“ (Note 1,0)</p>
			</div>
		</article>
	</div>

	<h3>Berufserfahrung</h3>

	<div class="cv">
		<article>
			<header>Werkstudent Engineering bei sprd.net AG <span class="subtitle">(<a href="https://www.spreadshirt.de" target="_blank">Spreadshirt</a> / <a
					href="https://www.teamshirts.de">Teamshirts</a>)</span></header>
			<div class="time-span">
				<time datetime="2014-08">10/2017</time>
				–
				<time>heute</time>
			</div>
			<div class="desc">
				<p>Branche: Social Commerce, Personal Branding</p>
				{% comment %}
					<div class="tasks collapsible collapsible--with-icon">
						<a title="Tätigkeitsschwerpunkte anzeigen">
							<span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkt
						</a>
						<ul>
							<li>React / Redux</li>
							<li>Symfony</li>
						</ul>
					</div>
				{% endcomment %}
			</div>
		</article>
		<article>
			<header>Webentwickler bei <a href="http://www.ercasdieagentur.de/willkommen.htm" target="_blank">ercas GmbH &amp; Co KG</a></header>
			<div class="time-span">
				<time datetime="2014-08">08/2014</time>
				–
				<time datetime="2016-09">09/2016</time>
			</div>
			<div class="desc">
				<p>Branche: Werbung, Webentwicklung, Grafik, Kommunikation</p>
				<div class="tasks collapsible collapsible--with-icon">
					<a title="Tätigkeitsschwerpunkte anzeigen">
						<span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkt
					</a>
					<ul class="collapse">
						<li>JavaScript (AngularJS, Plain JS, jQuery)</li>
						<li>Frontend (HTML, CSS / Less / SCSS, Bootstrap)</li>
						<li>PHP (Silex, Slim, Twig)</li>
						<li>RESTful Services</li>
						<li><s>TYPO3 (CMS-Integration, Extbase-Extensions, Fluid)</s> <sup class="footnote">1</sup></li>
						<li>WordPress (Plugins / Themes)</li>
						<li>Build-Automatisierung (Grunt, Gulp, NPM, Bower etc.)</li>
						<li>Shell- und Python-Scripts</li>
						<li>Administration von Webservern (Ubuntu)</li>
					</ul>
				</div>
			</div>
		</article>
		<article>
			<header>Praktikant Webentwicklung bei <a href="http://www.ercasdieagentur.de/willkommen.htm" target="_blank">ercas GmbH &amp; Co KG</a></header>
			<div class="time-span">
				<time datetime="2014-08">09/2013</time>
				–
				<time datetime="2016-09">01/2014</time>
			</div>
			<div class="desc">
				<p>Branche: Werbung, Webentwicklung, Grafik, Kommunikation</p>
				<div class="tasks collapsible collapsible--with-icon">
					<a title="Tätigkeitsschwerpunkte anzeigen">
						<span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkt
					</a>
					<ul class="collapse">
						<li>Frontend (HTML, CSS / Less)</li>
						<li>JavaScript (jQuery)</li>
						<li>PHP</li>
						<li><s>TYPO3 (CMS-Integration, Extbase-Extensions, Fluid)</s> <sup class="footnote">1</sup></li>
					</ul>
				</div>
			</div>
		</article>
		<article>
			<header>Webentwickler bei work performance, Engineering &amp; Personalservice GmbH</header>
			<div class="time-span">
				<time datetime="2012-05">05/2012</time>
				–
				<time datetime="2014-07">07/2014</time>
			</div>
			<div class="desc">
				<p>(Werkstudententätigkeit)</p>
				<p>Branche: Personalvermittlung, Webentwicklung</p>
				<div class="tasks collapsible collapsible--with-icon">
					<a title="Tätigkeitsschwerpunkte anzeigen">
						<span class="icon fa fa-arrow-down"></span>Tätigkeitsschwerpunkt
					</a>
					<ul class="collapse">
						<li>Frontend (HTML, CSS / Less)</li>
						<li>JavaScript (jQuery)</li>
						<li>PHP</li>
						<li>WordPress (Themes)</li>
						<li>hybride Apps (PhoneGap)</li>
						<li>kleinere Facebook-Anwendungen (Social Media)</li>
					</ul>
				</div>
			</div>
		</article>
	</div>

	<div class="footnotes">
		<small><sup class="footnote">1</sup> ich verzichte zukünftig dankend.</small>
	</div>
</section>
