---
layout: default
---

<section id="projects">

	<header>
		<h2 class="page-title">{{ page.title | escape }}</h2>
	</header>

	{{ content }}

	<div class="project-list">
		<article class="project">
			<header>
				<h3><a href="https://git.grubersjoe.de/joe/chameleon" target="_blank">Chameleon</a></h3>
			</header>
			<div class="tags">
				<a href="#">Python</a>
				<a href="#">JavaScript</a>
			</div>

			<div class="body">
				<p>Chameleon ist ein Python-Modul zur Farb-Manipulation und Umwandlung diverser
					Farbmodelle. Derzeit ist es ein 1:1 Port der <a
							href="https://github.com/bgrins/TinyColor" target="_blank">TinyColor</a>
					JavaScript-Bibliothek und verfügt über den gleichen Funktionsumfang.</p>
			</div>

			<div class="links">
				<a class="text-btn" href="https://git.grubersjoe.de/joe/chameleon" target="_blank">
					<i class="fa fa-code-fork" aria-hidden="true"></i> Git Repository
				</a>
			</div>
		</article>

		<article class="project">
			<header>
				<h3><a href="https://github.com/grubersjoe/slide-menu" target="_blank">Slide Menu</a></h3>
			</header>
			<div class="tags">
				<a href="#">CSS</a>
				<a href="#">JavaScript</a>
			</div>

			<div class="body">
				<p><strong>Slide Menu</strong> ist ein kleines jQuery Plugin das ein Standard CSS-Menü in eine
					multihierarchische Sidebar mit einem Gleit-Effekt verpackt. Die Animationen basieren auf
					CSS3 Transitions.</p>
			</div>
			<div class="links">
				<a class="text-btn" href="https://github.com/grubersjoe/slide-menu" target="_blank">
					<i class="fa fa-github" aria-hidden="true"></i> GitHub Repository
				</a>
			</div>
		</article>

		<article class="project">
			<header>
				<h3><a href="https://github.com/grubersjoe/dotfiles" target="_blank">dotfiles</a></h3>
			</header>

			<div class="tags">
				<a href="#">Linux</a>
				<a href="#">Shell</a>
				<a href="#">i3</a>
				<a href="#">Python</a>
			</div>

			<div class="body">
				<p>Meine persönlichen in sorgfältiger Handarbeit geschmiedeten GNU/Linux
					Konfigurationsdateien. Im Fokus steht der famose Window Manager <code><a
							href="https://i3wm.org/">i3</a></code>.
				</p>
			</div>

			<div class="links">
				<a class="text-btn"  href="https://github.com/grubersjoe/dotfiles" target="_blank">
					<i class="fa fa-github" aria-hidden="true"></i> GitHub Repository
				</a>
			</div>
		</article>

		<article class="project">
			<header>
				<h3><a href="https://github.com/grubersjoe/bing-daily-photo" target="_blank">Bing Daily
					Photo</a></h3>
			</header>

			<div class="tags">
				<a href="#">PHP</a>
			</div>

			<div class="body">
				<p>Eine simple PHP-Klasse, die das aktuelle <a href="http://www.bing.com/gallery/"
				                                               target="_blank">Foto des Tages</a>™ von
					Microsofts Suchmaschine <a href="http://www.bing.com" target="_blank">Bing</a> mit diversen Metadaten lädt.</p>
			</div>

			<div class="links">
				<a class="text-btn"  href="https://github.com/grubersjoe/bing-daily-photo" target="_blank">
					<i class="fa fa-github" aria-hidden="true"></i> GitHub Repository
				</a>
			</div>
		</article>
	</div>
</section>