.post {
	h2 {
		display: block;
		padding: 0;
		border: none;
	}

	h3 {
		font-size: 1.7rem;
	}

	.post-title {
		margin-bottom: .5rem;
	}

	.post-meta {
		margin-bottom: 1.5rem;
		font-weight: 600;
		font-style: italic;
	}
}
