$box-width: 6.25rem;
$box-margin: 1.5rem;
$box-padding: .8rem;
$box-padding-vertical: $box-padding + .1rem;
$box-border-radius: 3px;
$gradient-width: 2rem;

.post-list__post {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 3px double $color-b-light;

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .post-meta {
        display: none;
    }

    h3 {
        margin: 0 0 .75rem;
        color: $color-s;

        a, a:focus, a:hover {
            border-bottom: none;
        }
    }

    .post__excerpt {
        margin: 0 0 .5rem;
        color: $text-color;
    }

    .post__read-on {
        display: inline-block;
        font-style: italic;
    }

    @include media-sm {
        .flexbox {
            display: flex;
            align-items: flex-start;
        }

        .post-meta {
            display: flex;
            flex-flow: column wrap;
            flex: 0 0 $box-width;
            justify-content: flex-start;
            width: $box-width;
            margin: .3rem $box-margin 0 0;
            padding: $box-padding-vertical 0;
            background-color: $color-p;
            border-radius: $box-border-radius;
            color: hsl($hue, 32%, 98%);
            text-align: center;
            font-size: 75%;

            hr {
                margin: $box-padding 0;
                border: none;
                border-bottom: solid 2px $color-b-light;
            }
        }

        .post-meta__row {
            padding: 0 $box-padding;
            line-height: 1;
            user-select: none;

            .social-btn {
                float: left;
            }
        }

        .reading-time {
            &:before {
                @include fa-icon;
                margin-right: .4em;
                content: $fa-var-book;
            }

            font-variant-numeric: lining-nums;
        }

        .post-meta__day {
            margin-bottom: .5rem;
            font-weight: 700;
            font-variant-numeric: lining-nums;
            font-size: 2.5rem;
        }

        .post-meta__date {
            font-variant-numeric: lining-nums;
        }

        .post-meta__category {
            margin: ($box-padding + .2rem) 0 (-$box-padding-vertical);
            padding: 0;
            background-color: darken($color-p, 12%);
            border-top: 1px solid darken($color-p, 16%);
            border-bottom-left-radius: $box-border-radius;
            border-bottom-right-radius: $box-border-radius;
            transition: background .3s ease-in-out;
            text-transform: uppercase;
            hyphens: none;

            a {
                @include text-overflow;
                padding: $box-padding / 5 * 3;
                display: block;
            }

            &:hover {
                background-color: darken($color-p, 16%);
            }

            &:active {
                background-color: darken($color-p, 18%);
            }
        }
    }
}
