.btn {
	@include button-size($padding-base-vertical-rem, $padding-base-horizontal-rem, $font-size-base, $line-height-base, $btn-border-radius-base);
	display: inline-block;
	margin-bottom: 1rem;
	background-color: $btn-default-bg;
	border: none;
	color: $btn-default-color;
	text-align: center;
	white-space: nowrap;
	user-select: none;

	&:active,
	&:focus,
	&:hover {
		border: none;
		background-color: lighten($btn-default-bg, 6%);
	}

	&.btn--secondary {
		background-color: $color-t;

		&:hover {
			background-color: lighten($color-t, 6%);
		}
	}

	&.btn--tertiary {
		background-color: $color-s;

		&:hover {
			background-color: lighten($color-s, 6%);
		}
	}
}

.btn-lg {
	// line-height: ensure even-numbered height of button next to large input
	@include button-size($padding-large-vertical-rem, $padding-large-horizontal-rem, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
	// line-height: ensure proper height of button next to small input
	@include button-size($padding-small-vertical-rem, $padding-small-horizontal-rem, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
	@include button-size($padding-xs-vertical-rem, $padding-xs-horizontal-rem, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.text-btn {
	color: $color-s;
}